.character{
    background-color: #790095;
    min-width: 230px;
    margin: 0.5%;
    border-radius: 10px;
    color: cornsilk;
}
img{
    max-width: 200px;
    height: 196px;
    object-fit: cover;
}
