.characterDetail{
    background-color: #41085c6c;
    margin-top: 10px;
    height: 240px;
    overflow-x: auto;
    border-radius: 5px;
}
.characterDetail::-webkit-scrollbar{
    background-color: #33031973;
    border-radius: 5px;
    color: antiquewhite;
}
.characterDetail::-webkit-scrollbar-thumb{
    background-color: #330319;
    border-radius: 5px;
   
}
.imagen{grid-area: imagen;}
.caracteristicas{
    grid-area: caracteristicas;
    text-align:start;
    margin-left:10% ;
}
.descripcion{
    grid-area: descripcion;
    text-align:start;
}
    
.characterDetail{
    grid-template-columns:13vh 38vh auto;
    display: grid;
    gap:2px;
    grid-template-areas: 
        
        "imagen  caracteristicas descripcion";
}
#select{
    margin-top: 1%;
    background-color:#330319;
    color: antiquewhite;
    box-shadow: 3px 3px  #e67b1696;
}
