.home{
    background-color: #41085c6c;
    margin-top: 10px;
    height: 240px;
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
}
.home::-webkit-scrollbar{
    background-color: #33031973;
    border-radius: 5px;
    color: antiquewhite;
}
.home::-webkit-scrollbar-thumb{
    background-color: #330319;
    border-radius: 5px;
   
}