.home{
    background-color: black;
    margin-top: 10px;
    height: 240px;
    display: flex;
    overflow-x: auto;
}
.home::-webkit-scrollbar{
    background-color: rgba(192, 87, 17, 0.13);
    border-radius: 5px;
    color: antiquewhite;
}
.home::-webkit-scrollbar-thumb{
    background-color: rgba(233, 92, 10, 0.801);
    border-radius: 5px;
   
}