.navbar{
    background-color: rgb(3, 3, 3);
    color: aliceblue;
    height: 120px;
    width: 100%;
}
#lista{
    display: flex;
    align-content: center;
    justify-content: center;
}
li{ 
    margin:  5% 12% 12% 12%;
    background-color: rgb(88, 32, 192);
    list-style:none;
    padding: 0.5%;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 4px   rgba(255, 255, 0, 0.534);
    
}
a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.794);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-variant: small-caps;
}
